include ./_pwa_headers.pug
doctype html
html(lang="es")
  - var CDN = false
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    
    //- PWA tags
    +metatagsWebApp()
    block header
  body
    <!--[if lte IE 9]>  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p> <![endif] -->
    block content
    script(src="assets/js/main.js", charset="utf-8")
