doctype html
html(lang="es")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    //- Common meta tags
    meta(name="author", content="Name")
    meta(name="description", content="Description here")
    meta(name="keywords", content="keywords,here")
    //- Styles
    link(rel="stylesheet", href="assets/css/bootstrap.css")
    link(rel="stylesheet", href="assets/css/main.css")
    //- Font-awesome
    script(defer, src="https://use.fontawesome.com/releases/v5.0.6/js/all.js")
    //- Icon
    link(rel="shortcut icon", href="" type="image/vdn.microsoft.icon")
    link(rel="icon", href="", sizes="16x16", type="image/png")
    //- Title
    title Example
  body
    <!--[if lte IE 9]>  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p> <![endif] -->
    h1 Jade/Pug - HTML preprocessor engine

    //- JS imports
    script(src="assets/js/jquery.min.js", charset="utf-8")
    script(src="assets/js/popper.min.js", charset="utf-8")
    script(src="assets/js/bootstrap.min.js", charset="utf-8")
    script(src="assets/js/main.js", charset="utf-8")
